.grid-gallery {
    &.life {
        background-color: #222;
        @include box-shadow(0,0,8px,#000);
        header {
            h1 {
                color: #B5A27F;
            }
            small {
                color: #B5A27F;
                a {
                    color: #B5A27F;
                }
            }
        }
        [role=article] {
            .grid-box {
                h3 {
                    a {
                        color: #B5A27F;
                    }
                }
                p {
                    color: #999;
                }
            }
        }
    }
}
