/* ==========================================================================
BrandVoice
========================================================================== */

.brand-voice--home {
    .head-line {
        width: 95%;
        display: block;
        margin: 0 auto;
        padding: 0;
        @include susy-breakpoint(620px, $wide){
            width: 50%;
            display: inline-block;
            margin: 0;
        }
    }
    .grid-bv--main {
        @include display-flex(flex);
        @include flex-flow(row wrap);
        width: 100%;
        [role=article] {
            width: 95%;
            margin: 0 auto;
            padding: 0;
            display: block;
            float: right;
            @include susy-breakpoint(620px, $wide){
                width: 45%;


            }

            @include susy-breakpoint(960px, $wide){
                width: 70%;
                padding: 0 10em 0 0;
                margin: 0;

            }
            header {
                @include display-flex(flex);
                @include flex-flow(row wrap);
                h2 {
                    display: block;
                    width: 100%;
                    margin: 0 0 0.75em;
                    padding: 0;
                }
                figure {
                    background-color: #EEE;
                    border: 1px solid #CCC;
                    width: 92px;
                    height: 92px;
                    float: left;
                    margin: 0 0.75em 0 0;
                }
                > div {
                    float: left;
                    margin: 0;
                    padding: 0;
                    display: block;
                    h3 {
                        margin: 0;
                        padding: 0;
                        line-height: 1em;
                    }
                    p {
                        @include font-size(18px);
                        margin: 0.25em 0;
                        padding: 0;
                    }
                }
            }
        }
        .ad-block--aside {
            @include display-flex(flex);
            @include justify-content(flex-start);
            @include align-items(center);
            @include align-content(flex-start);
            @include flex-flow(column wrap);
            float: left;
            margin: 0 auto;
            padding: 0;
            width: 95%;
            text-align: left;

            @include susy-breakpoint(620px, $wide){
                width: 45%;
            }

            @include susy-breakpoint(960px, $wide){
                width: 30%;
                margin: 0;
            }
            figure {
                position: relative;
                background-color: #EEE;
                border: 1px solid #ccc;
                width: 300px;
                height: 250px;
            }
            p {
                margin: 0 auto;
                padding: 0;
                width: 100%;

                @includ susy-breakpoint(620px, $wide){
                    width: 100%;
                }

                a {
                    @include font-size(18px);
                    border-bottom: 1px solid #EEE;
                    padding: 0.25em 0;
                    margin: 0;
                    text-align: left;
                }
            }
        }
    }
}
