/*
* List: Second Columns
*/

#homeNetwork {
    width: 100%;
    article {
        margin: 0.5em 0 0 0.5em;
        padding: 0.25em;
        border-bottom: 1px solid #EEE;
        &:last-child {
            border-right: none;
        }
        @include susy-breakpoint(960px, $wide) {
            border-bottom: none;
        }
        @include susy-breakpoint(1140px, $wide) {
            width: 23.33%;
        }
        &.tooltip-author {
            float: left;
            display: inline-block;
            width: 95%;
            text-align: left;
            @include susy-breakpoint(645px, $wide) {
                width: 100%;
            }
            @include susy-breakpoint(960px, $wide) {
                width: 23%;
            }
            @include susy-breakpoint(1140px, $wide) {
                width: 23.33%;
            }
        }
        header {
            min-height: 50px;
            height: 100%;
            display: inline-block;
            padding: 0.25em;
            @include susy-breakpoint(414px, $wide) {
                float: right;
                width: 50%;
            }
            @include susy-breakpoint(640px, $wide) {
                width: 65%;
            }
            @include susy-breakpoint(960px, $wide) {
                float: none;
                min-height: 90px;
                width: 100%;
            }
            @include susy-breakpoint(1140px, $wide) {
                min-height: 90px;
            }
            h4 {
                margin-top: 0;
                margin-bottom: 0;
            }
            a {
                @include font-size(18px);
                display: block;
            }
        }
        footer {
            margin: .5em 0;
            padding: 0;
            display: block;
            white-space: nowrap;
            vertical-align: middle;
            height: 45px;

            @include susy-breakpoint(414px, $wide) {
                width: 40%;
                float: left;
                display: inline-block;
            }

            @include susy-breakpoint(640px, $wide) {
                width: 25%;
            }

            @include susy-breakpoint(960px, $wide) {
                float: none;
                width: 100%;
            }

            @include transform-style(preserve-3d);

            a {
                display: block;
            }
            figure {
                margin: 0 .5em 0 0;
                padding: 0;
                display: inline-block;
                height: 50px;
                width: 50px;
                float: left;
                @include border-radius(100px);
                a {
                    display: block;
                    height: 100%;
                    width: 100%;
                    img {
                        @include opacity(1);
                        @include border-radius(100px);
                    }
                }
            }
            small {
                @include PNR();
                text-transform: uppercase;
                @include font-size(11px);
                color: $gray-dark;
                display: block;
                vertical-align: middle;
                white-space: nowrap;
                @include vertical-align();
            }
        }
    }
}
