/* ==========================================================================
Grid-Eight
========================================================================== */

.grid-eight
{
    @include container();

    .head-line
    {
        @include full();
        border: none !important;

        h1
        {
            border-bottom: 3px solid black;
            @include full();
        }

        small
        {
            @include full();

            height: 50px;
            line-height: 50px;
        }

        .tabs {
            padding: 0;
            margin: 0;
            display: inline-block;
            height: 22px;
            line-height: 18px;

            .lavalamp-object
            {
                max-height: 22px;
            }

            li
            {
                display: inline-block;
                float: left;
                padding: 0;
                margin: 0;
                max-height: 22px;
                line-height: 22px;

                &.active
                {
                    a
                    {
                        color: #f2f2f2;
                    }

                }

                a
                {
                    display: block;
                    text-align: center;
                    color: #222;
                    line-height: 22px;
                }
            }
        }
    }


/*
* Super Grid
*/

.article-grid
{
    @include full();

    .grid-eight--gallery
    {
        [role=article]
        {
            @include gallery(1);

            figure
            {
                margin: 0;
                padding: 0;
                background: #f1f1f1;
                border: 1px solid #AAA;
            }
        }
    }

}




}
