/* ==========================================================================
Sticky Menu
========================================================================== */

.ha-header {
    @include transition(all 0.6s ease-out);
    @include translateY(-100%);
    @include opacity(0);
    display: inline-block;
    clear: both;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    display: block;
    background: rgba(51, 51, 51, 0.95);
    height: 70px;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    &.ha-header-down {
        @include translateY(0);
        @include opacity(1);
        z-index: 99;
    }
    &.ha-header-up {
        @include translateY(-100%);
        @include opacity(0);
        z-index: -1;
    }
    a,
    li {
        @include transition(all 0.3s ease-out);
    }
    .wrap {
        display: inline-block;
        clear: both;
        width: 100%;
        max-width: 100%;
        float: left;
        height: 100%;
        @include transition(all 0.3s ease-out);
        @include opacity(0);
        position: relative;
        margin-left: auto;
        margin-right: auto;
        &.show {
            @include opacity(1);
        }
    }
    .sb-search {
        position: absolute;
        right: 0;
        float: right;
        width: 60px;
        height: 100%;
        display: inline;
        top: 0;
        margin: 0;
        form {
            width: 100%;
            height: 100%;
            display: inline-block;
        }
        .sb-search-input {
            height: 100%;
            width: 100%;
        }
        .sb-icon-search {
            @include font-size(20px);
            background: #333;
            height: 100%;
            padding: 0;
            line-height: 3.5em;
            width: 60px;
            text-align: center;
            display: inline-block;
            &:hover {
                background: #111;
            }
        }
    }
}

.lft {
    width: 100%;
    float: left;
    height: 100%;
    position: relative;
    margin: 0 10px 0 0;
    padding: 0;
    display: block;
    @include transition(all 0.3s ease-out);
    &.open {
        left: 0;
    }
    .views-top {
        float: left;
        width: 50px;
        color: #f2f2f2;
        display: inline-block;
        text-align: center;
        height: 70px;
        margin: 5px 0 0;
        padding: 0;
    }
    figure {
        width: 120px;
        margin: 0;
        height: 100%;
        float: left;
        padding: 0;
        display: block;
        @include transform-style(preserve-3d);
        img {
            width: 100%;
            margin: 0;
            padding: 0;
            @include vertical-align();
        }
    }
    a.second-logo {
        color: #fff;
        display: block;
        float: left;
        font-size: 1.5em;
        line-height: 200px;
        margin: 0;
        padding: 0;
        height: 70px;
    }
    section {
        float: left;
        height: 100%;
        width: 43%;
        margin: 0;
        padding: 0;
        display: none;
        visibility: hidden;
        @include susy-breakpoint(960px, $wide) {
            display: inline-block;
            visibility: visible;
        }
        h1 {
            color: #fff;
            font-size: 1em;
            margin: 0 0 0 1.5em;
            line-height: 1.2em;
            padding: 0 0.5em;
            @include font-size(15px);
            border-left: 1px solid #DDD;
            height: 100%;
            font-weight: normal;
            &:before {
                content: 'Est\00e1s leyendo';
                display: block;
                @include PNL();
                @include font-size(14px);
                color: rgb(221, 221, 221);
                padding: 0.75em 0 0;
                margin: 0;
            }
        }
    }
}

.rgt {
    height: 100%;
    float: right;
    margin: 0;
    text-align: left;
    padding: 0;
    display: inline-block;
    .helper-ghost {
        width: 60px;
        z-index: 6;
    }
    .shareme {
        height: 100%;
        display: none;
        visibility: hidden;
        margin: 0;
        padding: 0;
        position: relative;
        float: left;
        width: auto;
        @include transform-style(preserve-3d);
        @include susy-breakpoint(645px, $wide) {
            display: inline-block !important;
            visibility: visible !important;
        }
        &:after {
            width: 60px;
            height: 100%;
            content: "";
            position: relative;
            float: right;
            display: block;
        }
        .box {
            margin: 0;
            display: block;
            height: 100%;
            float: left;
            cursor: pointer;
            padding: 0;
            @include vertical-align();
            >li:first-child {
                margin: 0;
                padding: 0 .75em 0 0;
                width: 110px;
                border-right: 1px solid #555;
            }
            li {
                display: inline-block;
                float: left;
                margin: 0;
                padding: 0;
                color: #EEE;
                height: 100%;
                width: 50px;
                text-align: center;
                ul {
                    padding: 0;
                    margin: 0;
                    height: 100%;
                    display: inline-block;
                    @include opacity(0);
                    @include transition(all 0.3s ease-out);
                    position: relative;
                    top: -260px;
                    &.checked {
                        top: 0;
                        @include opacity(1);
                    }
                    li {
                        margin: 0 !important;
                        padding: 0;
                    }
                }
                > h2 {
                    display: block;
                    text-align: right;
                    margin: 0;
                    padding: 0;
                    @include font-size(35px);
                    position: relative;
                    top: 0;
                    height: 100%;
                    line-height: 1.3em;
                    font-weight: normal;
                    > small {
                        font-size: 11px;
                        margin: 0 0 0.3em 0;
                        padding: 0;
                        display: block;
                        line-height: normal;
                    }
                }
                i {
                    background: #333;
                    height: 100%;
                    padding: 0 0.5em;
                    line-height: 3.5em;
                    vertical-align: middle;
                    position: relative;
                    display: block;
                    @include font-size(20px);
                }
                &:hover > i.fa {
                    &.fa-facebook {
                        background: #3b5998;
                    }
                    &.fa-twitter {
                        background: #00aced;
                    }
                    &.fa-linkedin {
                        background: #007bb6;
                    }
                    &.fa-pinterest {
                        background: #cb2027;
                    }
                    &.fa-google-plus {
                        background: #dd4b39;
                    }
                    &.fa-plus {
                        background: #111;
                    }
                }
            }
        }
    }
}

.nxtPost {
    clear: both;
    border-top: 1px solid #CCC;
    background: rgba(51, 51, 51, 0.75);
    height: 0px;
    padding: 0.5em 0.75em;
    margin: 0;
    position: relative;
    @include opacity(0);
    @include transition(all 0.3s ease-out);
    z-index: -5;
    &.show {
        @include opacity(1);
        height: auto;
        z-index: 99;
    }
    a {
        color: #fff;
        @include font-size(15px);
        display: block;
        line-height: 1.25em;
        width: 100%;
        margin: 0;
        padding: 0 0.5em;
        &:hover {
            color: #eeeeee;
        }
        small {
            font-family: pnl;
            @include font-size(14px);
            margin: 0 0.75em 0 0;
            padding: 0;
            display: block;
        }
        i {
            margin: 0 0 0 .25em;
        }
    }
}
