/* ==========================================================================
   SideMenu
   ========================================================================== */

   .menu-side {
    display: inline-block;
    width: 100%;


    ul
    {

        margin:0;
        padding:0;
        width:100%;
        li
        {
            width:50%;
            float:left;
            display:inline-block;
            text-align:center;

            &:last-child a
            {
                border:none;


            }



            a
            {
                font-size:0.75rem;
                background-color:#555;
                padding:1em;
                margin: 0;
                border-right: 1px solid #EEE;
                border-bottom: none;

                &.activated
                {
                    background-color:#333;

                }
                &:hover
                {
                    background-color:#333;
                }

            }

        }

    }

}



   /* General styles for all menus */
   .cbp-spmenu {
    background-color: #FFF;
    position: fixed;
    top:4.4em;

    .cs-select {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        text-align: left;
        background: #333;
        z-index: 100;
        width: 100%;
        max-width: 500px;

        span {
            display: block;
            position: relative;
            padding: 1em;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: white;
            @include font-size(18px);
            border-top: 1px solid #222;
        }
    }
}

.cbp-spmenu h3 {
    color: #B8DDF2;
    font-size: 0.8em;
    padding: 5px;
    margin: 0 0 1em 0;
    font-weight: 300;
    background: #0d77b6;
    width: 29%;
    display: inline-block;
    float: left;
    height: 35px;
    text-align: center;
    line-height: 1.5em;
    cursor: pointer;
}

.cbp-spmenu a {
    display: block;
    color: #fff;
    font-size: 1.1em;
    font-weight: 300;
}

.cbp-spmenu a:hover {
    background: #258ecd;
}

.cbp-spmenu a:active {
    background: #afdefa;
    color: #47a3da;
}

/* Orientation-dependent styles for the content of the menu */

.cbp-spmenu-vertical {
    width: 300px;
    height: 100%;
    top:4.4em;
    z-index: 1000;
}

/* Vertical menu that slides from the left or right */

.cbp-spmenu-left {
    left: -300px;
}

.cbp-spmenu-right {
    right: -300px;
}

.cbp-spmenu-left.cbp-spmenu-open {
    left: 0px;
    border-right: 1px solid #666;

}

.cbp-spmenu-right.cbp-spmenu-open {
    right: 0px;
}



/* Push classes applied to the body */

.cbp-spmenu-push {
    overflow-x: hidden;
    position: relative;
    left: 0;
}

.cbp-spmenu-push-toright {
    left: 300px;
}

.cbp-spmenu-push-toleft {
    left: -300px;
}

/* Transitions */

.cbp-spmenu,
.cbp-spmenu-push {
    @include transition(all 0.3s ease);


    .loads
    {
        display: block;
        height: 42px;
        line-height: 42px;
        font-size: 25px;
        color: #EEE;
        @include opacity(1);
        background: #666;

    }
}



.showPanel
{
    &.nano-mobile{
        @include no-touch(inline-block);
        @include susy-breakpoint(960px, $wide) {
            display: none !important;
            visibility: hidden !important;
        }
    }

    &.nano-no-touch{
        display: none;
        visibility: hidden ;
        @include susy-breakpoint(960px, $wide) {
            @include no-touch(inline-block);

        }
    }

    &.nano
    {

        height: 100%;
        width: 100%;
        overflow-y:auto;
        background: white;


        .copyright {
            width: 85%;
            margin: 1em auto 0;
            display: block;
            padding: 0;
            text-align: center;
        }

        small
        {
            color: #666;
        }


    }



    .load-more {
        bottom: 0;
        width: 100%;
        position: absolute;
        border: 0;
        background: transparent;
        height: 50px;
    }



    ul,ol {
        display: inline-block;
        padding: 0;
        margin: 0;

        li
        {
            background: #fff;
            border-bottom: 1px solid #f2f2f2;
            display: inline-block;
            padding: .0;
            margin: 0;
            position: relative;
            width: 100%;
            @include transform-style(preserve-3d);

            &:hover
            {
                background: #333;
                color: #f2f2f2;

                a
                {
                    color: #f2f2f2;
                }

            }


            >a {
                color: #333;
                margin: 0 ;
                padding: 0.75em;
                display: block;
                border: none;
                @include font-size(16px);
                vertical-align: middle;
                // white-space: nowrap;

                small
                {
                    display: block;
                }


                &:hover {
                    color: #f2f2f2;
                    background: none;
                }
            }
        }
    }
}


/* Example media queries */

@media screen and (max-width: 55.1875em){

    .cbp-spmenu-horizontal {
        font-size: 75%;
        height: 110px;
    }

    .cbp-spmenu-top {
        top: -110px;
    }

    .cbp-spmenu-bottom {
        bottom: -110px;
    }

}

@media screen and (max-height: 26.375em){

    .cbp-spmenu-vertical {
        font-size: 90%;
        width: 190px;
    }

    .cbp-spmenu-left,
    .cbp-spmenu-push-toleft {
        left: -190px;
    }

    .cbp-spmenu-right {
        right: -190px;
    }

    .cbp-spmenu-push-toright {
        left: 190px;
    }
}