.inner-content-category {
    width: 100%;
    padding: 0 0.5em;
    margin: 0 auto;
    @include susy-breakpoint(960px, $wide) {
        width: 62%;
        float: left;
        padding: 0;
    }
    .head-line {
        h1 {
            width: 75%;
            margin: 0;
            border-bottom: 1px solid #EEE;
        }
    }
    .lets-load-json {
        margin: 0;
        padding: 0;
    }
    .picture-featured {
        @include display-flex(flex);
        @include flex-flow(column wrap);
        @include align-items(flex-start);
        height: 100%;
        width: 100%;
        header {
            border: none;
            h1 {
                width: 100%;
                border-bottom: 1px solid #EEE;
            }
        }
        [role=article] {
            width: 100%;
            height: 100%;
            margin: 1em 0 1.75em;
            padding: 0;
            @include display-flex(flex);
            @include flex-flow(column wrap);
            @include align-items(flex-start);
            .article-header {
                width: 100%;
                display: inline-block;
                height: 100%;
                figure {
                    padding: 0;
                    margin: 0;
                    width: 100%;
                    height: auto;
                    @include susy-breakpoint(640px, $wide) {
                        height: 400px;
                    }
                }
            }
            .entry-content {
                font-size: 22px;
                margin: 0;
                padding: 0;
                width: 100%;
                h2 {
                    @include font-size(32px);
                    width: 100%;
                    display: inline-block;
                }
                small {
                    display: inline-block;
                    clear: both;
                    margin: 0.5em 0;
                    padding: 0;
                    line-height: 1.2em;
                    color: #666;
                    font-family: 'Playfair Display', serif;
                    font-weight: 700;
                    font-size: 14px;
                    i {
                        margin: 0 0.75em;
                        padding: 0;
                        font-weight: normal;
                        font-family: 'Playfair Display', serif;
                        @include font-size(12px);
                    }
                }
                .byline {
                    width: 100%;
                    height: 100%;
                    margin: 0;
                    padding: 0;
                    small {
                        margin: 0;
                        vertical-align: bottom;
                        position: relative;
                        @include font-size(12px);
                    }
                }
            }
        }
    }
    [role=region] {
        .head-line {
            border: none;
            height: auto;
            min-height: 1px;
            h2 {
                width: 75%;
                border-bottom: 1px solid #EEE;
                margin: 0;
                padding: 0;
            }
        }
    }
    [role=article] {
        width: 100%;
        margin: 1em 0 1.75em;
        padding: 0;
        height: 100%;
        max-height: 100%;
        @include transform-style(preserve-3d);
        @include display-flex(flex);
        @include flex-flow(row wrap);
        @include align-items(flex-start);
        .article-header {
            border: none;
            display: inline-block;
            margin: 0 0.75em 0 0;
            padding: 0;
            height: 100%;
            width: 100%;
            @include susy-breakpoint(414px, $wide) {
                float: left;
                width: 45%;
                padding: 0.5em 0 0;
            }
            figure {
                margin: 0;
                padding: 0;
                height: auto;
                width: 100%;
                display: block;
            }
        }
        .entry-content {
            position: relative;
            width: 100%;
            height: 100%;
            display: block;
            margin: 0;
            padding: 0;
            @include susy-breakpoint(414px, $wide) {
                float: left;
                width: 50%;
            }
            small {
                display: inline-block;
                clear: both;
                margin: 0.5em 0;
                padding: 0;
                line-height: 1.2em;
                color: #666;
                font-family: 'Playfair Display', serif;
                font-weight: 700;
                @include font-size(14px);
                i {
                    margin: 0 0.75em;
                    padding: 0;
                    font-weight: normal;
                    font-family: 'Playfair Display', serif;
                    @include font-size(12px);
                }
            }
            .byline {
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
                small {
                    margin: 1em 0 0;
                    vertical-align: bottom;
                    position: relative;
                    @include font-size(12px);
                }
            }
            .head-line {
                border: none;
            }
            h2 {
                margin: 0;
                padding: 0;
                line-height: 1.5em;
                @include susy-breakpoint(414px, $wide) {
                    @include font-size(16px);
                }
                @include susy-breakpoint(640px, $wide) {
                    @include font-size(18px);
                }
                a {
                    display: block;
                }
            }
        }
    }
}
