/**
* Description: Forbes SCSS
* Version: 1.0.3.5
* Last update: 2015/01/12
* Author: DreamsEngine Team <lab@dreams.agency>
*
*/
/* ==========================================================================
MAIN: ALL Columns
========================================================================== */

html {
    overflow-x: hidden;
    position: relative;
    margin: 0 !important;
    padding: 0;
    height: 100vh;
    &.flow-out {
        overflow: hidden !important;
    }
}

body {
    font-family: 'Playfair Display', serif;
    font-weight: normal;
    position: relative;
    overflow-x: hidden;
    @include container();
    &.flow-out {
        overflow: hidden !important;
    }
    @include container(100%);
    @include susy-breakpoint(280px, $wide) {
        display: inline-block;
    }
    @include susy-breakpoint(645px, $wide) {
        display: block;
    }
}

.container {
    position: relative;
    width: 100%;
}

.wrap {
    width: 100%;
    @include susy-breakpoint(645px, $wide) {
        @include container(95%);
    }
    @include susy-breakpoint(960px, $wide) {
        @include container(960px);
    }
    @include susy-breakpoint(1100px, $wide) {
        @include container(1100px);
    }
}

.flex-row {
    display: flex;
    @include flex-flow(row wrap);
    @include justify-content(space-around);
}

.flex-column {
    display: flex;
    @include flex-flow(column wrap);
    @include justify-content(space-around);
}
/* ==========================================================================
Constants : ALL Columns
========================================================================== */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}

a {
    text-decoration: none;
    color: #222;
    border: 0;
    outline: none;
    @include transition(all .3s ease-out);
    &:hover {
        color: $forbes;
    }
}

[itemprop="articleBody"] {
    a {
        overflow: hidden;
        font-weight: 500;
        position: relative;
        display: inline-block;
        outline: none;
        color: #404d5b;
        vertical-align: bottom;
        text-decoration: none;
        white-space: nowrap;
        &:before {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            width: 100%;
            height: 100%;
            background-color: rgba(52, 73, 94, 0.2);
            content: '';
            @include transition(transform 0.2s);
            @include transform(translateY(95%));
        }
        &:hover:before {
            @include transform(translateY(0));
        }
        &:focus:before {
            @include transform(0);
        }
    }
}

p {
    font-family: Georgia, Times, 'Times New Roman', serif !important
}

img {
    display: block;
}

article {
    @include transition(all .3s ease-out);
}
/* Blockquotes */

blockquote {
    background-color: #fff;
    border-top: 4px solid #000;
    border-bottom: 1px solid #000;
    margin: 0.75em 1em;
    width: 245px;
    padding: 0.75em;
    position: relative;
    z-index: 2;
    &:nth-of-type(2n+1) {
        float: right;
    }
    &:nth-of-type(2n+2) {
        float: left;
    }
    p {
        font-family: 'Playfair Display', serif;
        @include font-size(22px);
        font-weight: normal;
        line-height: 28px;
        letter-spacing: .01em;
        color: #333;
    }
}
/* Bottons */

.btn {
    color: white;
    background-color: #000;
    margin: 0;
    padding: 10px 13px;
    font-size: .7em;
    line-height: 1.2em;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    position: absolute;
    bottom: 0;
    @include transition(all 0.3s ease-out);
    &:hover {
        color: #888;
    }
}

.btn-more {
    overflow: hidden;
    font-weight: 500;
    position: relative;
    display: inline-block;
    outline: none;
    color: #404d5b;
    vertical-align: bottom;
    text-decoration: none;
    white-space: nowrap;
    &:before {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        background-color: rgba(52, 73, 94, 0.2);
        content: '';
        @include transition(transform 0.2s);
        @include transform(translateY(95%));
    }
    &:hover:before {
        @include transform(translateY(0));
    }
    &:focus:before {
        @include transform(0);
    }
}

.alm-btn-wrap {
    text-align: center;
    margin: 0.75em 0;
    padding: 0;
    button.more {
        border: 1px solid #404d5b;
        background: none;
        margin: 0 auto;
        width: 150px;
        padding: 0.5em;
        color: #404d5b;
        display: block;
        text-decoration: underline;
        position: relative;
        @include transition(all 0.3s ease);
        &.done {
            @include opacity(0.2);
        }
        &:hover {
            color: rgba(51, 51, 51, .95);
        }
    }
    button.loading {
        width: 160px;
        text-align: left;
        @include transition(all 0.3s ease-in-out);
        &.loading:before {
            background: transparent url(../icons/loading-spin.svg) no-repeat center center;
            background-size: 75%;
            width: 30px;
            height: 100%;
            margin: 0;
            @include border-radius(3px);
            display: inline-block;
            z-index: 0;
            content: '';
            position: absolute;
            right: 0;
            top: 0;
            overflow: hidden;
            @include transition(width 0.5s ease-in-out);
        }
    }
}
/* Black Separator */

.sep {
    .wrap {
        border-top: 3px solid rgba(0, 0, 0, 0.95);
        padding: 2em 0;
    }
}
/* Borders */

.border-light {
    border-bottom: 1px solid #333;
}
/* Author Desc */

.author-desc {
    figure {
        margin: 5px auto;
        padding: 10px;
        text-align: center;
        float: left;
        display: inline-block;
        max-width: 100px;
        figcaption {
            margin-top: 5px;
            margin-bottom: 0;
        }
        img {
            background: #EEE;
            border-radius: 100px;
            position: relatihe;
            overflow: hidden;
            text-align: center;
            margin: 0 auto;
            display: block;
        }
    }
    div {
        float: left;
        display: inline-block;
        width: 50%;
        margin: 5px;
        li {
            margin: 0.5em 0 0.5em;
            padding: 0;
            font-family: 'Playfair Display', serif;
            font-weight: 600;
            display: inline-block;
            width: 100%;
            a {
                text-align: left;
                font-weight: 400;
            }
        }
    }
}
/*
* Banner Boxes
*/

.leader-box {
    @include hidden();
    height: 100%;
    text-align: center;
    >.leader {
        padding: 0;
        height: 100%;
        border: none;
        background: transparent;
        display: block;
        z-index: 5;
    }
    .leader-second {
        margin: 1.5em auto 0;
        width: 100%;
        min-width: 728px;
        max-width: 960px;
        min-height: 90px;
    }
    .leader-third {
        margin: 0.75em auto 0.75em !important;
        width: 300px;
        min-height: 250px;
        max-height: 600px;
        height: 100%;
    }
    .leader-fourth {
        margin: 1em auto 0;
        width: 750px;
        min-height: 100px;
    }
    .leader-five {
        margin: 0 auto 0;
        width: 468px;
        min-height: 60px;
    }
}

@include susy-breakpoint(960px, $wide) {
    .leader-box {
        @include no-touch(block);
    }
}
/* Icons */

.icon-play {
    position: relative;
    display: inline-block;
    @include transition(all 0.3s ease-out);
    figure {
        height: 100%;
    }
    a.autoplay {
        background: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        position: absolute;
        z-index: 5;
        cursor: pointer;
        &:after {
            font-family: FontAwesome;
            content: "\f04b";
            display: block;
            position: absolute;
            z-index: 10;
            color: white;
            @include font-size(40px);
            bottom: 0;
            top: 50%;
            left: 50%;
            padding: 0;
            cursor: pointer;
            height: 65px;
            line-height: 65px;
            @include transform(translateY(-50%))
        }
        &:hover {
            background: rgba(0, 0, 0, 0);
        }
    }
}
/* Helpers */

.helper-space {
    width: 100%;
    display: inline-block;
    height: 10px;
    position: relative;
}

.helper-ghost {
    width: 100%;
    height: 100%;
    display: inline-block;
    position: relative;
}

.helper-active {}

.helper-next {
    @extend .helper-space;
}

.helper-image {
    position: relative;
    overflow: hidden;
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    picture {
        display: block;
    }
    img {
        width: 100%;
        max-width: 100%;
        height: auto;
    }
    a {
        display: block;
        width: 100%;
        height: 100%;
    }
}
/* ==========================================================================
Header : 4 , 8 , 12, 16 Columns
========================================================================== */

.no-js header .inner-header .inner-header--top .sb-search,
header .inner-header .inner-header--top .sb-search.sb-search-open {
    width: 100% !important;
    @include susy-breakpoint(645px, $wide) {
        width: 65% !important;
    }
}

header {
    display: inline-block;
    position: relative;
    width: 100%;
    .inner-header {
        @include container();
        clear: both;
    }
    /*
* Header Top : $gray-dark background
*/

    .dark {
        background: $gray-dark;
        @include full();
        height: 70px;
        padding-bottom: 0;
        margin: 0;
        .inner-header--top {
            padding-top: 0;
            padding-bottom: 0;
            position: relative;
            @include full();
            @include transition(all 0.3s ease-out);
            &.open {
                left: 0;
            }
            .main-logo {
                position: relative;
                padding: 0;
                @include display-flex(flex);
                @include flex-flow(row wrap);
                line-height: 70px;
                height: 70px;
                white-space: nowrap;
                text-align: center;
                width: 120px !important;
                img {
                    max-width: 100%;
                    width: 100%;
                    height: auto;
                }
            }
            .sb-search {
                position: absolute;
                right: 0;
                float: right;
                width: 60px;
                height: 100%;
                display: inline;
                top: 0;
                margin: 0;
                .sb-search-input {
                    height: 100%;
                    width: 100%;
                }
                .sb-icon-search {
                    background: #444;
                    height: 100%;
                    padding: 0;
                    line-height: 3.5em;
                    @include font-size(20px);
                    width: 60px;
                    text-align: center;
                    display: inline-block;
                }
            }
        }
        @include susy-breakpoint(645px, $wide) {
            .inner-header--top {
                .btn-h {
                    @include span(first 1);
                }
                .main-logo {
                    @include span(3 at 2);
                    img {
                        min-width: 75px;
                    }
                }
            }
        }
        @include susy-breakpoint(960px, $wide) {
            .inner-header--top {
                .btn-h {
                    @include span(first 1);
                }
                .main-logo {
                    @include span(3 at 2);
                    img {
                        min-width: 75px;
                    }
                }
                .main-menu {
                    @include span(10);
                    display: inline-block;
                    visibility: visible;
                }
            }
        }
        @include susy-breakpoint(1100px, $wide) {
            .inner-header--top {
                .btn-h {
                    @include span(first 1);
                }
                .main-logo {
                    @include span(2 at 2);
                }
                .main-menu {
                    @include span(10 at 3);
                }
            }
        }
    }
    /*
* Second Header Menu : Include Socaial & Search
*/

    .main-menu--mis {
        @include full();
        padding: 0;
        margin: 0.75em 0;
        height: 65px;
        display: inline-block;
        position: relative;
        .inner-header {
            position: relative;
            display: block;
            .social {
                display: inline-block;
                padding: 0;
                line-height: 65px;
                margin-top: 0;
                margin-bottom: 0;
                li {
                    list-style: none;
                    display: inline-block;
                    float: left;
                    margin: 0 5px;
                    padding: 0;
                    a {
                        display: block;
                        @include font-size(25px);
                    }
                }
            }
            .time {
                display: block;
                text-align: center;
                @include susy-breakpoint(645px, $wide) {
                    float: left;
                }
                span {
                    line-height: 70px;
                    @include PNL();
                    @include font-size(15px);
                    margin: 0;
                    padding: 0;
                    border-bottom: 0;
                    font-weight: normal;
                    text-transform: uppercase;
                    color: #4c4c4c!important;
                }
            }
            .suscrip {
                display: none;
                width: 33%;
                float: right;
                margin-right: 1%;
                text-align: right;
                line-height: 3.8em;
                @include font-size(15px);
                @include PNL();
                text-transform: uppercase;
                @include susy-breakpoint(645px, $wide) {
                    @include flex-flow(row wrap);
                }
            }
        }
        @include susy-breakpoint(645px, $wide) {
            .inner-header {
                @include container(700px);
                padding: 0 0.75em;
                .time {
                    @include span(wider 8);
                    display: inline-block;
                    text-align: left;
                    span {
                        @include font-size(18px);
                    }
                }
            }
        }
        @include susy-breakpoint(960px, $wide) {
            .inner-header {
                @include container(960px);
                padding: 0 0.75em;
                .time {
                    @include span(wider 6);
                }
            }
        }
        @include susy-breakpoint(1100px, $wide) {
            .inner-header {
                @include container(1100px);
                .time {
                    @include span(wider 5);
                }
            }
        }
    }
}
/* ==========================================================================
MAIN MENU
========================================================================== */

.main-menu {
    display: none;
    visibility: hidden;
    float: left;
    @include transition(all 0.3s ease);
    a {
        font-family: 'Playfair Display', serif;
    }
}
/* ==========================================================================
Grid
========================================================================== */

.grid {
    @include container();
    position: relative;
    display: block;
    margin-bottom: 1em;
    .head-line {
        display: inline-block;
        height: 100%;
        border: none;
        width: 100%;
        margin: 1.5em 0 0.25em;
        padding: 0;
        h1 {
            display: inline-block;
            width: 55%;
            line-height: 1.5em;
            margin: 0;
        }
        .head-line--intro {
            display: block;
            width: 95%;
            margin: 0 auto;
            @include susy-breakpoint(645px, $wide) {
                width: 45%;
                float: left;
                display: inline-block;
                margin: 0;
            }
        }
        small {
            text-align: right;
            float: right;
            a {
                display: inline-block;
                margin: 0 0.75em;
                line-height: 50px;
            }
        }
    }
}
/* ==========================================================================
   Footer
   ========================================================================== */

[role=contentinfo] {
    @include container();
    background: #333;
    padding: 0.5em 0 0;
    margin: 0;
    .inner-footer {
        margin: 0;
        padding: 1em 0;
        color: #f2f2f2;
        height: 100%;
        display: block;
        min-height: 120px;
        @include susy-breakpoint(645px, $wide) {
            @include container(100%);
        }
        @include susy-breakpoint(960px, $wide) {
            @include container(960px);
        }
        @include susy-breakpoint(1100px, $wide) {
            @include container(1100px);
        }
        &.copyright {
            text-align: center;
            @include susy-breakpoint(645px, $wide) {
                text-align: left;
            }
            small {
                width: 90%;
                margin: 0 auto;
                display: block;
                @include susy-breakpoint(645px, $wide) {
                    margin: 0;
                }
            }
        }
        .block {
            display: block;
            position: relative;
            margin: 0 auto;
            padding: 0.75em 0;
            clear: both;
            width: 90%;
            @include susy-breakpoint(645px, $wide) {
                display: inline-block;
                clear: none;
                padding: 0 0.75em;
            }
            ul {
                padding: 0;
                margin: 0;
            }
            li {
                list-style: none;
                display: block;
            }
            a {
                color: #f2f2f2;
            }
            figure {
                margin: 0;
                padding: 0;
            }
            header {
                display: inline-block;
                height: 100%;
                float: left;
                margin: 0;
                padding: 0;
                figure {
                    float: left;
                    display: block;
                    margin: 0 .5em 0 0;
                    padding: 0.5em;
                    width: 150px;
                    @include susy-breakpoint(645px, $wide) {
                        width: 130px;
                    }
                    @include susy-breakpoint(1100px, $wide) {
                        width: 152px;
                        display: inline-block;
                        padding: 0;
                    }
                    figcaption {
                        h5 {
                            font-size: 0.80em;
                            margin: 0.25em 0;
                            padding: 0;
                            @include PNL();
                        }
                        p {
                            font-size: 0.75em;
                            margin: 0.25em 0 0;
                            padding: 0;
                            @include PNL();
                        }
                    }
                    img {
                        max-width: 100%;
                        width: 100%;
                        height: auto;
                    }
                }
            }
            .newsletter {
                display: inline-block;
                margin: 0;
                height: 100%;
                width: 100%;
                @include susy-breakpoint(645px, $wide) {
                    margin: 5em 0 0 0;
                }
                h4 {
                    margin: 1em 0 0;
                    padding: 0;
                    @include PNL();
                }
                form {
                    display: block;
                    width: 100%;
                    div {
                        height: 100%;
                        width: 100%;
                        display: inline-block;
                        &.mymail-email-wrapper > input {
                            background: transparent;
                            border: none;
                            border-bottom: 1px solid #EEE;
                            width: 100%;
                            margin: 0 0.5em 0 0;
                            padding: 0.2em 0.25em 0;
                        }
                        &.mymail-submit-wrapper > input {
                            width: 100%;
                            @include susy-breakpoint(645px, $wide) {
                                width: 50%;
                                float: right;
                            }
                            @include susy-breakpoint(960px, $wide) {
                                position: relative !important;
                            }
                        }
                    }
                    label {
                        display: none;
                    }
                }
            }
            .social {
                h4 {
                    margin: 0 0 1em;
                    padding: 0;
                    @include PNL();
                }
                .info {
                    padding: 0;
                    margin: 0;
                    height: 100%;
                    width: 100%;
                    @include display-flex(flex);
                    li {
                        display: inline-block;
                        float: left;
                        margin: 0 1em 0 0;
                        padding: 0;
                        width: 2em;
                        text-align: center;
                        @include susy-breakpoint(645px, $wide) {
                            margin: 0 1.15em 0 0;
                        }
                        > a {
                            @include font-size(25px);
                            margin: 0;
                            padding: 0;
                            display: block;
                            @include transition(all 0.3s ease-out);
                            &:hover {
                                color: #888;
                            }
                        }
                    }
                }
            }
            &.block--one {
                @include susy-breakpoint(645px, $wide) {
                    @include span(5);
                }
            }
            &.block--two {
                position: relative;
                h4 {
                    margin: 0 0 1em;
                    padding: 0;
                    @include PNL();
                }
                @include susy-breakpoint(645px, $wide) {
                    @include span(5 wide);
                    border-left: 1px solid #666;
                    border-right: 1px solid #666;
                }
                a.btn {
                    display: block;
                    position: relative;
                    margin-top: 1em;
                    text-align: center;
                    width: 100%;
                }
            }
            &.block--three {
                position: relative;
                h3 {
                    margin: 0 0 2.2em;
                    padding: 0;
                    @include PNL();
                    display: inline-block;
                    width: 100%;
                }
                @include susy-breakpoint(645px, $wide) {
                    @include span(5 wide);
                }
                a.btn {
                    display: block;
                    position: relative;
                    margin-top: 1em;
                    text-align: center;
                    width: 100%;
                }
            }
            footer {
                display: inline-block;
                float: left;
                margin: 0;
                padding: 0;
                width: 100%;
            }
        }
    }
}
