.notes,
.post-type-archive-forbes_life {
  .header-hero {
    text-align: center;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-size: auto 100vh;
    .gallery-link {
      background-color: hsla(0, 100%, 100%, .25);
      border: 1px solid hsla(0, 100%, 100%, .12);
      float: right;
      height: 65px;
      right: 5vw;
      margin: 0;
      padding: 0;
      position: absolute;
      top: 5vh;
      width: 100px;
      z-index: 9;
      @include border-radius(3px);
      @include display-flex(flex);
      @include flex-flow(column wrap);
      @include align-items(center);
      @include align-content(center);
      @include justify-content(center);

      i {
        color: hsla(0, 100%, 100%, .95);
        display: block;
        text-align: center;
        @include font-size(32px);
      }
      small {
        color: #FFF;
        font-family: 'Questrial', 'Avenir', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        @include font-size(14px);
      }
    }
    h1 {
      margin: 0;
      letter-spacing: -1px;
      font-size: 2.25em;
      font-weight: 600;
      line-height: 1;
      position: absolute;
      width: 85%;
      height: auto;
      color: white;
      pointer-events: none;
      font-family: 'Playfair Display', Georgia, serif;
      text-transform: uppercase;
      text-align: left;
      @include display-flex(flex);
      @include flex-flow(column wrap);
      @include align-items(center);
      @include align-content(center);
      @include justify-content(center);
      z-index: 9;
      left: 10vw;
      bottom: 15vh;
      @include susy-breakpoint(734px, $wide) {
        width: 75%;
        left: 5vw;
      }
      a {
        color: white;
      }
      .meta {
        @include display-flex(flex);
        @include flex-flow(row wrap);
        @include align-items(flex-start);
        @include align-content(flex-start);
        @include justify-content(flex-start);
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: left;
        width: 100%;
        @include susy-breakpoint(734px, $wide) {
          margin: 0.25em 0 0;
        }
        li {
          display: flex;
          flex: row wrap;
          margin: 0 0.45em;
          padding: 0;
          font-size: 0.95rem;
          color: #FFF;
          &:first-child {
            border-right: 1px solid '#f2f2f2';
            padding: 0 0.5em 0 0;
            margin: 0;
          }
          a {
            font-size: 15px;
            color: #FFF;
            display: block;
          }
        }
        small {
          margin: 0;
          padding: 0 0.32em;
          font-size: 0.95rem;
        }
      }
      img {
        width: 250px;
        height: auto;
      }
      @include susy-breakpoint(40em, 12) {
        font-size: 4.5em;
      }
      span {
        display: block;
        padding: 2em 0 1em;
        color: #3a3231;
        font-size: 0.2em;
        text-transform: uppercase;
        font-weight: 400;
        letter-spacing: 3px;
        text-shadow: none;
        font-family: 'Questrial', 'Avenir', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      }
    }
  }
    /**** Hero: ****/

    .tilt {
      overflow: hidden;
      position: relative;
      width: 100%;
      height: 100%;
      margin: 0 auto;
    }
    .tilt__back,
    .tilt__front {
      width: 100%;
      height: 100%;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: cover;
      @include backface-visibility(hidden);
    }
    .tilt__back {
      position: relative;
    }
    .tilt__front {
      position: absolute;
      top: 0;
      left: 0;
    }
    .hero {
      position: absolute;
      top: 10px;
      left: 10px;
      bottom: 10px;
      right: 10px;
      overflow: hidden;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: auto 100vh;
      @include susy-breakpoint(40em, 12) {
        top: 20px;
        left: 20px;
        bottom: 20px;
        right: 20px;
      }
      .scroll-down {
        position: absolute;
        bottom: 15vh;
        text-align: center;
        left: 50%;
        @include transform(translateX(-50%));
      }
    }
    .hero__imgwrap {
      position: relative;
      width: 100%;
      height: 100%;
      overflow: hidden;
      &::after {
        content: '';
        position: absolute;
        background: hsla(0, 0%, 0%, 0.15);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
      }
    }
    .hero__img {
      position: absolute;
      top: 50%;
      left: 50%;
      width: auto;
      height: 100vh;
      @include transform(translate3d(-50%, -50%, 0));
    }
    .hero__imgwrap {
      .tilt__back, .tilt__front {
        background-size: auto 100vh;
      }
    }
    @media screen and (min-aspect-ratio: 1440/960) {
      .hero__imgwrap .tilt__back, .hero__imgwrap .tilt__front, .codrops-header {
        background-size: 100vw auto;
      }
      .hero__img {
        width: 100vw;
        height: auto;
      }
    }
  }
